{% extends "base.html" %}

{% block title %}Add Activity{% endblock %}


{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Add New Activity</h1>
    <div>
        <a href="{% url 'activity_add_from_file' %}" class="btn btn-primary">Upload file</a>
    </div>
</div>

<form method="post" class="card p-4 shadow-sm">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="d-flex justify-content-between mt-3">
        <button type="submit" class="btn btn-success">Save</button>
        <a href="{% url 'activity_list' %}" class="btn btn-secondary">Cancel</a>
    </div>
</form>
{% endblock %}
