{% extends "base.html" %}

{% load custom_filters %}

{% block title %}Activity List{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>All Activities</h1>
    <div>
        <a href="{% url 'activity_add' %}" class="btn btn-primary">Add Activity</a>
    </div>
</div>

<div style="overflow-x: auto; max-width: 100%; border: 1px solid #ddd;" class="mb-4">
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors|striptags }}
        </div>
    {% endif %}
    
    {% if form.errors %}
        <div class="alert alert-danger">
            Please correct the errors below.
        </div>
    {% endif %}
    {% if messages %}
        <div class="alert alert-info">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    <table class="table table-striped table-bordered mb-0">
        <thead class="table-light">
            <tr class="align-middle">
                <th></th>
                <th>sport</th>
                <th>activity_type</th>
                <th>start_datetime_utc</th>
                <th>start_timezone</th>
                <th>moving_time</th>
                <th>distance</th>
                <th>elevation_gain</th>
                <th>calories</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for vm in viewmodels %}
            <tr class="align-middle">
                <td style="background-color: {{ vm.sport.colour }}; width: 1.5rem;"></td>
                <td>{{ vm.sport.name }}</td>
                <td>{{ vm.activity_type }}</td>
                <td>{{ vm.start_datetime_utc|date:"Y-m-d H:i:s" }}</td>
                <td>{{ vm.start_timezone }}</td>
                <td>{{ vm.moving_time }}</td>
                <td>{{ vm.distance }}</td>
                <td>{{ vm.elevation_gain }}</td>
                <td>{{ vm.calories }}</td>
                <td>
                    <a href="{% url 'activity_edit' vm.pk %}" class="btn btn-sm btn-outline-secondary">Edit</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="8" class="text-center">No activity found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
